body {
	background-color: purple;

}

h1 {
	color: green;

}

p {
	color: blue;

}

.button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: purple;
	text-align: center;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
	border: 2px solid black;
}

.button1:hover {
	background-color: black;
	color: purple;
}
